<style>
.button1 {-webkit-transition-duration: 0.4s;transition-duration: 0.4s;padding: 1px 3px;text-align: center;background-color: white;color: black;border: 2px solid #4CAF50;border-radius:5px;}.button1:hover {background-color: PeachPuff;color: white;}.button1 {font-size: 11px;}
.button2 {-webkit-transition-duration: 0.4s;transition-duration: 0.4s;padding: 1px 3px;text-align: center;background-color: red;color: black;border: 2px solid #4CAF50;border-radius:5px;}.button2:hover {background-color: red;color: white;}.button2 {font-size: 11px;}
.button3 {-webkit-transition-duration: 0.4s;transition-duration: 0.4s;padding: 1px 3px;text-align: center;background-color: dimgray;color: black;border: 2px solid #4CAF50;border-radius:5px;}.button3:hover {background-color: white;color: white;}.button3 {font-size: 11px;}
</style>
<fieldset class="cbi-section">
	<table width="100%" cellspacing="10" id="_xlnetacc_wanip_status_table">
		<tr><td width="20%" id="_wanip_title"></td><td title="" id="_wanip_state"><em></em></td></tr>
	</table>
</fieldset>
<script type="text/javascript">//<![CDATA[
	var wanip_state = document.getElementById('_wanip_state');
	var wanip_title = document.getElementById('_wanip_title');	
	XHR.poll(5, '<%=luci.dispatcher.build_url("admin", "sys", "sysmonitor", "wanip_status")%>', null, function(x, status) {
		if ( x && x.status == 200 ) {
			wanip_title.innerHTML ='<em><b>'+status.wanip_title+'</b></em>';
			wanip_state.innerHTML ='<em><b><font color=6699cc>'+status.wanip_state+'</font></b></em>';
		}
	});
//]]></script>
